{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Goal</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="add-container">
        <h2>Add New Goal</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
        <a href="{% url 'goal_list' %}">Back to Goals</a>
    </div>
    
</body>
</html>
{% endblock %}